<!DOCTYPE html>
<html>
<head>
  <title>PasswordSheets</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<%= javascript_include_tag "jquery-1.5.min", "application" %>
<%= yield :javascript %>
</body>
</html>
